.contn{
    margin-top: 100px;
}
.pd{
    padding-left: 150px;
    padding-right: 80px;
    padding-bottom: 40px;
    
}

.p11{
    padding-right: 100px;
    padding-top: 20px;
    width: 600px;
}
.p12{
    padding-left: 50px;
    padding-top: 20px;
    width: 600px;  
}
.pp{
    padding-left: 50px; 
}
.im11{
padding-bottom: 80px;
}
.mm{
    margin-left: 10px;
}
.n{
    a{
    position: relative;
    text-decoration: none;
}}
.n-b{
   
    a:before{
        content: "";
        position: absolute;
        bottom: -4px;
        height: 3px;
        width: 0;
        background: red;
        border-radius: 50px;
        transition: width 0.3s ease;
    }
    a:hover:before{
        width: 100%;
    }
}

@import '/node_modules/bootstrap/scss/bootstrap.scss';