.conc{
    min-width: max-content;
    position:relative ;
   max-height:100% ;
   min-width: 500px;
  }
.te{
    color:gray;
}
.bb{
    a{
    color:gray;
}}

.bb-h{
    a:hover{
        color: black;
    }
}







@import '/node_modules/bootstrap/scss/bootstrap.scss';